h1 {
	color: #FF5E33;	
}
.container1 {
	text-align: center;
}
.youtube {
	width: 150px;
	height: 150px;
	border: 5px solid #FF5E33;
}
.p-youtube-click {
	text-align: center;
}

/* lvl-1 */

.button2 {
  	background: #2296f1;
  	color: #fff;
	padding: 5px;
 	border: none;
 	border-radius: 7px;
  	text-decoration: none;
  	font-family: Times New Roman;
  	font-size: 34px;
}
.container2 {
	text-align: center;
}

/* lvl-2*/

.button3 {
	display: inline-block;
	width: 300px;
	height: 150px;
  	background-image: url("https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-size: 100%;  	
	color: #fff;
	padding-top: 20px;
 	border: none;
 	border-radius: 11px;
  	text-decoration: none;
  	font-family: Times New Roman;
  	font-size: 34px;
}
.container3 {
	margin-top: 113px;
	text-align: center;
}

/* lvl-3*/

.button4 {
  	background-image: url("https://t.ly/SpRJT");
	background-size: 100%;
  	color: #fff;
	padding:60px;
 	border: 3px solid;
 	border-radius: 15px;
  	text-decoration: none;
  	font-family: Times New Roman;
  	font-size: 30px;
}
.button4:hover {
	border-color: #ff3300;
}
.container4 {
	text-align: center;
	margin-top: 60px;
}

/* lvl-4*/

